//- master blog

ui-modal-selector(ui-model='modalSelector')
div(class='blog',
	ng-class='{ "preloader preloader-intersection": !sideBar.selectedItem.content }')
	div(class='blog-header')
		span(ng-if='!buttonBar.inEditMode')
			| {{ sideBar.selectedItem.title }}
		input(ng-if='buttonBar.inEditMode',
			ng-model='sideBar.selectedItem.title')
		ui-button-bar(ui-model='buttonBar')
		ui-combo-box(ui-model='comboBox',
			ng-class='{ hidden: !buttonBar.inEditMode }')
	div(class='blog-content')
		div(class='blog-scroll-content')
			span(ng-if='!buttonBar.inEditMode')
				| {{ sideBar.selectedItem.content }}
			textarea(rows='33',
				ng-if='buttonBar.inEditMode',
				ng-model='sideBar.selectedItem.content')