//- master gallery

ui-modal-image(ui-model='modalImage')
div(class='image-browser')
	div(class='image-browser-content'
		ng-mouseleave='inspectedImage = null')
		div(class='image-browser-scroll-content')
			div(class='image-browser-thumbnail',
				ng-repeat='image in images',
				ng-class='{ selected: image.selected }')
				div(class='image-browser-thumbnail-header',
					title='{{ image.title.split(".")[0] }}',
					ng-class='{ shown: image === inspectedImage, hidden: image !== inspectedImage }')
					| {{ image.title.split('.')[0] }}
				//- to-do: change url to http://tyronjung.com/api/image/{{ image.title }}
				//- after moving image fetching api to unprotected api
				img(ng-src='http://localhost:9000/api/image/{{ image.title }}',
					ng-mouseover='inspectImage(image)',
					ng-click='toggleImageSelection(image)')
				div(class='image-browser-thumbnail-editor',
					ng-class='{ shown: image === inspectedImage, hidden: image !== inspectedImage }')
					ui-button-bar(ui-model='imageThumbnailEditor')
	div(class='image-browser-footer')
		ui-button-bar(ui-model='imageBrowserEditor')
	div(class='image-browser-form')
		form(action='/api/image/gallery', method='post', enctype='multipart/form-data')
			input(type='file', name='images', id='fileInput', multiple)
			input(type='submit', id='submitInput', value='upload')