//- about

div(class='about-container')
	div(class='about-external-link-container')
		div(class='about-external-link')
			a(class='about-external-link-content icon icon-{{ aboutExternalLinks[0].icon }}',
				ng-mouseover='aboutExternalLinks[0].lit = true',
				ng-mouseleave='aboutExternalLinks[0].lit = false',
				ng-class='{ lit: aboutExternalLinks[0].lit, unlit: !aboutExternalLinks[0].lit }'
				target='_blank',
				ng-href='{{ aboutExternalLinks[0].src }}',
				title='{{ aboutExternalLinks[0].title }}')
	div(class='about-external-link-container')
		div(class='about-external-link')
			a(class='about-external-link-content icon icon-{{ aboutExternalLinks[1].icon }}',
				ng-mouseover='aboutExternalLinks[1].lit = true',
				ng-mouseleave='aboutExternalLinks[1].lit = false',
				ng-class='{ lit: aboutExternalLinks[1].lit, unlit: !aboutExternalLinks[1].lit }'
				target='_blank',
				ng-href='{{ aboutExternalLinks[1].src }}',
				title='{{ aboutExternalLinks[1].title }}')
	div(class='about-content')
		div(class='about-card')
			div(class='about-card-diamond')
				div(class='about-card-diamond-content',
					ng-class='{ "preloader preloader-intersection": !imageLoaded }')
					img(ng-src='{{ aboutPicture.src }}',
						ui-on-load='handleImageLoad(evt)')
			div(class='about-card-content',
				ng-class='{ "preloader preloader-intersection": !aboutText }')
				div(class='about-card-scroll-content-container')
					div(class='about-card-scroll-content')
						| {{ aboutText }}
		div(class='about-card-shadow')
			div(class='about-card-diamond-shadow')
			div(class='about-card-content-shadow')
	div(class='about-external-link-container')
		div(class='about-external-link')
			//- leaving out target attribute for this one
			a(class='about-external-link-content icon icon-{{ aboutExternalLinks[2].icon }}',
				ng-mouseover='aboutExternalLinks[2].lit = true',
				ng-mouseleave='aboutExternalLinks[2].lit = false',
				ng-class='{ lit: aboutExternalLinks[2].lit, unlit: !aboutExternalLinks[2].lit }'
				ng-href='{{ aboutExternalLinks[2].src }}',
				title='{{ aboutExternalLinks[2].title }}')
	div(class='about-external-link-container')
		div(class='about-external-link')
			//- leaving out target attribute for this one as well
			a(class='about-external-link-content icon icon-{{ aboutExternalLinks[3].icon }}',
				ng-mouseover='aboutExternalLinks[3].lit = true',
				ng-mouseleave='aboutExternalLinks[3].lit = false',
				ng-class='{ lit: aboutExternalLinks[3].lit, unlit: !aboutExternalLinks[3].lit }'
				ng-href='{{ aboutExternalLinks[3].src }}',
				title='{{ aboutExternalLinks[3].title }}')