//- home

div(class='home-container')
	div(class='left home-nav-panel')
		div(class='home-nav-panel-link')
			a(class='home-nav-panel-link-content',
				ng-href='{{ homeLinks[0].href }}')
				div(class='home-nav-panel-link-inner-content')
					div(class='home-nav-panel-link-icon icon icon-{{ homeLinks[0].icon }}')
					div(class='home-nav-panel-link-title')
						| {{ homeLinks[0].title }}
		div(class='home-nav-panel-filler')
		div(class='home-nav-panel-link home-nav-panel-link-edge')
			a(class='home-nav-panel-link-content',
				ng-href='{{ homeLinks[1].href }}')
				div(class='home-nav-panel-link-inner-content')
					div(class='home-nav-panel-link-icon icon icon-{{ homeLinks[1].icon }}')
					div(class='home-nav-panel-link-title')
						| {{ homeLinks[1].title }}
		div(class='home-nav-panel-link')
			a(class='home-nav-panel-link-content',
				ng-href='{{ homeLinks[2].href }}')
				div(class='home-nav-panel-link-inner-content')
					div(class='home-nav-panel-link-icon icon icon-{{ homeLinks[2].icon }}')
					div(class='home-nav-panel-link-title')
						| {{ homeLinks[2].title }}
	div(class='home-news-panel')
		div(class='home-news-panel-preloader preloader preloader-intersection')
		div(class='home-news-panel-content-container',
			ng-style='{ "z-index": (homeNews[0].inFront ? 1 : 0) }',
			ng-class='{ shown: homeNews[0].shown, hidden: !homeNews[0].shown }')
			a(class='home-news-panel-content',
				ng-href='http://localhost:9000/{{ homeNews[0].href }}')
				//- to-do: change fetch location host to tyronjung.com
				img(ng-src='http://localhost:9000/api/image/home/{{ homeNews[0].imageTitle }}')
		div(class='home-news-panel-content-container hidden'
			ng-class='{ shown: homeNews[1].shown, hidden: !homeNews[1].shown }')
			a(class='home-news-panel-content',
				ng-href='http://localhost:9000/{{ homeNews[1].href }}')
				//- to-do: change fetch location host to tyronjung.com
				img(ng-src='http://localhost:9000/api/image/home/{{ homeNews[1].imageTitle }}')
	div(class='right home-nav-panel')
		div(class='home-nav-panel-link')
			a(class='home-nav-panel-link-content',
				ng-href='{{ homeLinks[3].href }}')
				div(class='home-nav-panel-link-inner-content')
					div(class='home-nav-panel-link-icon icon icon-{{ homeLinks[3].icon }}')
					div(class='home-nav-panel-link-title')
						| {{ homeLinks[3].title }}
		div(class='home-nav-panel-link home-nav-panel-link-edge')
			a(class='home-nav-panel-link-content',
				ng-href='{{ homeLinks[4].href }}')
				div(class='home-nav-panel-link-inner-content')
					div(class='home-nav-panel-link-icon icon icon-{{ homeLinks[4].icon }}')
					div(class='home-nav-panel-link-title')
						| {{ homeLinks[4].title }}
		div(class='home-nav-panel-filler')
		div(class='home-nav-panel-link')
			a(class='home-nav-panel-link-content',
				ng-href='{{ homeLinks[5].href }}')
				div(class='home-nav-panel-link-inner-content')
					div(class='home-nav-panel-link-icon icon icon-{{ homeLinks[5].icon }}')
					div(class='home-nav-panel-link-title')
						| {{ homeLinks[5].title }}
div(class='home-container-shadow')
	div(class='left home-nav-panel-shadow')
	div(class='home-news-panel-shadow')
	div(class='right home-nav-panel-shadow')