//- modal selector

div(class='modal-selector',
	ng-class='{ shown: model.inUse, hidden: !model.inUse }')
	div(class='modal-selector-content')
		div(class='modal-selector-scroll-window')
			div(class='modal-selector-scroll-content')
				div(class='modal-selector-image',
					ng-repeat='image in model.images',
					ng-class='{ selected: model.selectedImage === image, "preloader preloader-intersection": !image.loaded }')
					//- to-do: change url to http://tyronjung.com/api/image/{{ image.category }}/{{ image.title }}
					//- after moving image fetching api to unprotected api
					img(ng-src='http://localhost:9000/api/image/{{ image.category }}/{{ image.title }}',
						ng-class='{ horizontal: image.horizontal, vertical: !image.horizontal }',
						ng-click='model.selectImage(image)',
						ui-on-load='model.handleImageLoad(evt, image)')
		div(class='modal-selector-footer')
			div(class='modal-selector-button',
				ng-repeat='button in model.buttons',
				ng-click='button.onClick()')
				| {{ button.title }}