//- side bar

//- to-do: make the left/right class configurable; also consider using ng-init
div(class='left side-bar',
	ng-class='{ shown: model.inUse, hidden: !model.inUse }')
	//- header
	div(class='side-bar-header')
		| {{ model.title }}
		//- to-do: make this optional
		div(class='icon icon-bars')
	//- new
	div(class='side-bar-item side-bar-new-item',
		ng-if='model.createItemButton.inUse',
		ng-click='model.createItem()')
		div(class='side-bar-new-item-content')
			| {{ model.createItemButton.title }}
	//- items
	div(class='side-bar-item',
		ng-repeat='item in model.items',
		ng-class='{ selected: item === model.selectedItem }',
		ng-click='model.selectItem(item)')
		| {{ item.title }}